[user]
	name = Ruben Silva
	email = 72628840+rbnvsilva@users.noreply.github.com
	username = rbnvsilva
[init]
	defaultBranch = master
[credential]
	credentialStore = cache
	helper = 
	helper = /usr/local/bin/git-credential-manager
[credential "https://dev.azure.com"]
	useHttpPath = true