@import 'colors/knight.css';

* {
    border: none;
    border-radius: 0px;
    font-family: "Adwaita Sans", "JetBrainsMono Nerd Font Propo", sans-serif;
    font-weight: bold;
    min-height: 0;
    padding: 0;
    margin: 0;
}

window#waybar {
    background: transparent;
}

tooltip {
    background: @bg0;
    border: 1px solid @bg3;
    border-radius: 12px;
}

tooltip label {
    color: @fg;
    padding: 6px;
}

#workspaces {
    background-color: @bg0;
    padding: 5px 3px;
    border-radius: 18px;
    border: 1px solid @bg1;
    color: @fg;
}

#workspaces button {
    padding: 0px 6px;
    margin: 0px 3px;
    border-radius: 50px;
    color: transparent;
    background-color: @bg1;
    transition: all 0.3s ease-in-out;
}

#workspaces button.active {
    background-color: @green;
    color: @bg0;
    min-width: 50px;
    transition: all 0.3s ease-in-out;
    font-size: 13px;
}

#workspaces button:hover {
    background-color: @purple;
    color: @bg0;
    border-radius: 16px;
    min-width: 50px;
    background-size: 400% 400%;
}

#workspaces button.urgent {
    background-color: @red;
    color: @bg0;
    border-radius: 16px;
    min-width: 50px;
    background-size: 400% 400%;
    transition: all 0.3s ease-in-out;
}

#pulseaudio,
#cpu,
#memory,
#clock,
#custom-power,
#custom-notification {
    background-color: @bg0;
    padding: 0 15px 0 15px;
    border-radius: 50px;
    border: 1px solid @bg1;
}

#clock {
    color: @green;
    margin: 0 10px 0 20px;
}

#custom-notification {
    color: @yellow;
    margin: 0 10px 0 0;
}

#pulseaudio {
    color: @yellow;
    margin: 0 10px 0 0;
}

#cpu {
    color: @yellow;
    margin: 0 10px 0 0;
}

#memory {
    color: @yellow;
    margin: 0 10px 0 0;
}

#custom-power {
    color: @red;
    margin: 0 20px 0 0;
}
